{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "react/prop-types": "off",
    "no-console": "error"
  },
  "env": {
    "browser": true,
    "es6": true
  }
}